.input{
  color:black;
}
.autocomplete{
  position:absolute;
  top: 100px;
  width:300px;
  background: white;
  list-style: none;
  margin-top: 23px;
  padding: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  z-index:11;
  max-height: 240px;
  height: auto;
  overflow:auto;
  border-radius:2px;
}
.autocomplete_item {
  padding:10px;
}
.autocomplete_item:hover{
  background: rgb(217, 227, 237);
  cursor: pointer;
  transition:cubic-bezier(1,0,0,1) .3s all;
}

.form{
  min-width:300px;
  background-color:white;

  margin-right: 20px;
  border-radius:10px;
}
.all{
  margin-top:10px;
  display:flex;
  margin-left: 10px;
  align-items: center;
}

