.input{
  color:black;
}
.autocomplete{
  position:absolute;
  top: 100px;
  width:200px;
  background: rgb(110, 108, 108);
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  z-index:11;
  max-height: 240px;
  height: auto;
  overflow:auto;
}
.autocomplete_item {
  padding:10px;
}
.autocomplete_item:hover{
  background: rgb(180, 180, 180);
  cursor: pointer;
  transition:cubic-bezier(1,0,0,1) .3s all;
}
form{
  max-width:300px;
  margin-top:10px;
  margin-right: 20px;
}
.all{
  display:flex;

}
