* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.droppableTasks{
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.board {
  min-width: 300px;
  min-height: 400px;
  border-radius: 12px;
  border: 3px solid lightgrey;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}

.board__title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 15px;
}
.modalarea {
  width:80%
}

.item {
  width: 100%;
  border: 2px solid lightgreen;
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
  cursor: grab;
  background-color: #fcfcf9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pen {
  max-width: 18px;
  max-height: 18px;
}

.add {
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  border-radius: 6px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 
.border {
  border-radius: 50%;
} */
