.main{
  display:flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.errors{
    color:rgba(255, 0, 0, 0.762);
    position:absolute
}
.form-title{
  color: white
}
.parentCont{

    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.165);
    border-radius: 10px;
  }

  .parentCont.active{
    background-color: rgba(0, 0, 0, 0.165);
    transition: 0.5s;
    border-radius: 10px;
  }
  
  .containerReg{
    
    /* margin: 0;
    justify-content: center;
    align-items: center; */
    /* display: flex; */
   
    width: 800px;
    height: 500px;
    padding: 40px, 0;

    position:relative;
    border-radius: 10px;
    
  }
  
  .blockReg{
    /* position: absolute; */
    height: 100%;
    background-color: rgba(8, 4, 4, 0.006);
    box-shadow: 0, 5px, 45px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
  }

  .block_item{
    width: 50%;
  }

  .block-item{
    text-align: center;
  
  }

  .block-item_title{
    font-size: 1.2rem;
    font-weight: 500;
    color: aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .block-item_btn{
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: aliceblue;
    color: #333;
    font-size: 16px;
    font-weight: 500;
  }

  .form-box{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;

    overflow: hidden;
    border-radius: 10px;
  }

  .form-box.active{
    left: 50%;
  }

  .form{
    width: 70%;
    padding: 50px;
    font-size: 16px;
    position: absolute;
    transition: 0.5s;
  }

  .form_signin{
    left: 0;
    transition-delay: 0.25s;
  }

  .form_signup{
    left: 100%;
    transition-delay: 0s;
  }

  .form-box.active .form_signin{
    left: -100%;
    transition-delay: 0s;
  }

  .form-box.active .form_signup{
    left: 0;
    transition-delay: 0.25s;
  }

  .form_title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
  }

  .form_input{
    width: 100%;
    padding: 10px;
    border: solid 1px rgb(0, 0, 0);
    font-size: inherit;
    color: #333;
    margin-top:30px
    /* background-color: rgb(52, 52, 52); */
  }

  .form_btn{
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: rgb(11, 172, 30);
    color: aliceblue;
    padding: 10px 50px;
    margin-top:30px
  }

  .form_btn_signup{
    background-color:  rgb(11, 172, 30);
  }

  @media (max-width: 992px){
    .parentCont{
      max-width: 400px;
      height: 650px;
      padding: 0;
      margin: 0 20px;
    }

    .containerReg{
      max-width: 400px;
      height: 650px;
      padding: 0;
      margin: 0 20px;
    }

    .blockReg{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .block-item{
      width: 100%;
      padding: 30px 0;
    }

    .form-box{
      width: 100%;
      height: 500px;
      box-shadow: none;
      /* display: none; */
      top: 0;
    }

    .form-box.active{
      top: 150px;
      left: 0;
    }

  }