.main_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-top: 20px;
}

.text_center,
.text_center_lable {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  margin-top: 20px;
}

.text_center_lable {
  display: block;
  background-color: aquamarine;
  box-sizing: border-box;
}

.add_board {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.add_board:active{
  transform: scale(0.9,0.9);
}

.add_board_button {
  cursor: pointer;
  font-size: 2rem;
  margin: 20px;
}