a {
  color: aliceblue;
  text-decoration: none
}

a:hover {
  text-decoration: none
}

.nav_wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  /* padding: 10px; */
  background-color: #f4f5f7;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
  /* height: 8vh; */
}

.nav_ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav_wrap li {
  padding: 16px;
  padding-top: 18px;
  cursor: pointer;
}

.nav_wrap li:hover {
  background-color: #A0AEC0;

}

.active {
  color: #2C5282;
  font-size: 1.6rem;
  font-weight: 500;
}
@media (max-width: 40em) {
  .nav_wrap{
    justify-content: center;
  }
  .nav_whatman{
   visibility: hidden;
   display: none;
  }
}