.boards_wrap {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.board_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  border: 2px solid black;
  border-radius: 4px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: rgb(199, 221, 234);
}