.boards_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
    margin-top: 20px 10px;
}

.board_block {
  height: 120px;
    /*изменяется в медиа запросе */
    width: 300px;
    /* изменяется в медиа запросе */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 12px;
    border: 2px solid #A0AEC0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 10px 10px;
}
.board_block:hover {
  padding: 15px;
  opacity: 0.7;
}