.container_ocean {
  display: flex;
  flex-direction: row;
  position: absolute;
  /* background-image: url(https://www.fonstola.ru/pic/201310/2560x1440/fonstola.ru_133695.jpg); */

  font-family: sans-serif;
  color: white;
}

.main_wrapper {
  position: relative;
  width: 65%;
  height: 60%;
  margin-left: 100px;
  /* margin: 0 auto; */
}

.clipped-video {
  width: 100%;
  height: auto;
}

.clipped-video {
  -webkit-clip-path: url(#text-overlay);
  clip-path: url(#text-overlay);
}

.main_svg {
  display: block;
  position: absolute;
  top: 0;
}

.main_svg_text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14vw;
}

.text_block {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: 500;
  color: #2C5282;
}

.text_block_one {
  position: absolute;
  bottom: 20%;
  left: 5%;
  margin-top: 10%;
  margin-left: 20px;
}

.text_block_two {
  position: absolute;
  bottom: 10%;
  left: 8%;
  margin-top: 10%;
  margin-left: 20px;
}

.main_text_one {}



.main_text_two {}

@media only screen and (max-width: 760px) {
  .text_block {
    font-size: 3em;
    font-weight: 500;
  }

  .main_wrapper {
    height: 50%;
  }

  .main_wrapper {
    top: 200px;
  }

}

.block_comein {
  position: absolute;
}

@media only screen and (max-width: 460px) {
  .text_block {
    font-size: 2em;
    font-weight: 500;
  }

  .main_wrapper {
    height: 40%;
    top: 150px;
    margin-left: 50px;
  }
}