.container_ocean {
  display: flex;
  flex-direction: row;
  position: absolute;
  /* background-image: url(https://www.fonstola.ru/pic/201310/2560x1440/fonstola.ru_133695.jpg); */

  font-family: sans-serif;
  color: white;
}

.main_wrapper {
  position: relative;
  width: 65%;
  height: 60%;
  margin-left: 100px;
  /* margin: 0 auto; */
}

.clipped-video {
  width: 100%;
  height: auto;
}

.clipped-video {
  -webkit-clip-path: url(#text-overlay);
  clip-path: url(#text-overlay);
}

.main_svg {
  display: block;
  position: absolute;
  top: 0;
}

.main_svg_text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14vw;
}

.text_block {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: 500;
  color: #2C5282;
}

.text_block_one {
  position: absolute;
  bottom: 20%;
  left: 5%;
  margin-top: 10%;
  margin-left: 20px;
}

.text_block_two {
  position: absolute;
  bottom: 10%;
  left: 8%;
  margin-top: 10%;
  margin-left: 20px;
}

.main_text_one {}



.main_text_two {}

@media only screen and (max-width: 760px) {
  .text_block {
    font-size: 3em;
    font-weight: 500;
  }

  .main_wrapper {
    height: 50%;
  }

  .main_wrapper {
    top: 200px;
  }

}

.block_comein {
  position: absolute;
  position: absolute;
  bottom: 12%;
  right: 10%;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;

}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

@media only screen and (max-width: 460px) {
  .text_block {
    font-size: 2em;
    font-weight: 500;
  }

  .main_wrapper {
    height: 40%;
    top: 150px;
    margin-left: 50px;
  }
}